<h1><i class="material-icons">settings</i> Settings</h1>

<h5>Genres:</h5>

<div class="row">

    <div ng-repeat="i in user">
        <div class="col-sm-6">

            <input type="checkbox" id="pop" ng-model="user.genres.pop" ng-checked="i.genres.pop">

            <label for="pop">
                <span class="label-name">Pop</span>
                <div class="checkmark">
                    <i class="material-icons">check</i>
                </div>
            </label>


            <input type="checkbox" id="Rock" ng-model="user.genres.rock" ng-checked="i.genres.rock">
            <label for="Rock">
                <span class="label-name">Rock</span>
                <div class="checkmark">
                    <i class="material-icons">check</i>
                </div>
            </label>

            <input type="checkbox" id="Alternative" name="Alternative" ng-model="user.genres.alternative" ng-checked="i.genres.alternative">
            <label for="Alternative">
                <span class="label-name">Alternative</span>
                <div class="checkmark">
                    <i class="material-icons">check</i>
                </div>
            </label>


            <input type="checkbox" id="Metal" name="Metal" ng-model="user.genres.metal" ng-checked="i.genres.metal">
            <label for="Metal">
                <span class="label-name">Metal</span>
                <div class="checkmark">
                    <i class="material-icons">check</i>
                </div>
            </label>
            <input type="checkbox" id="Hardcore" name="Hardcore" ng-model="user.genres.hardcore" ng-checked="i.genres.hardcore">
            <label for="Hardcore">
                <span class="label-name">Hardcore</span>
                <div class="checkmark">
                    <i class="material-icons">check</i>
                </div>
            </label>
            <input type="checkbox" id="Rap" name="Rap" ng-model="user.genres.rap" ng-checked="i.genres.rap">
            <label for="Rap">
                <span class="label-name">Rap</span>
                <div class="checkmark">
                    <i class="material-icons">check</i>
                </div>
            </label>

            <input type="checkbox" id="HipHop" name="HipHop" ng-model="user.genres.hiphop" ng-checked="i.genres.hiphop">
            <label for="HipHop">
                <span class="label-name">Hip Hop</span>
                <div class="checkmark">
                    <i class="material-icons">check</i>
                </div>
            </label>

        </div>

        <div class="col-sm-6">

            <input type="checkbox" id="Trap" name="Trap" ng-model="user.genres.trap" ng-checked="i.genres.trap">
            <label for="Trap">
                <span class="label-name">Trap</span>
                <div class="checkmark">
                    <i class="material-icons">check</i>
                </div>
            </label>

            <input type="checkbox" id="Underground" name="Underground" ng-model="user.genres.underground" ng-checked="i.genres.underground">
            <label for="Underground">
                <span class="label-name">Underground</span>
                <div class="checkmark">
                    <i class="material-icons">check</i>
                </div>
            </label>


            <input type="checkbox" id="Electronic" name="Electronic" ng-model="user.genres.electronic" ng-checked="i.genres.electronic">
            <label for="Electronic">
                <span class="label-name">Electronic</span>
                <div class="checkmark">
                    <i class="material-icons">check</i>
                </div>
            </label>


            <input type="checkbox" id="DubStep" name="DubStep" ng-model="user.genres.dubstep" ng-checked="i.genres.dubstep">
            <label for="DubStep">
                <span class="label-name">DubStep</span>
                <div class="checkmark">
                    <i class="material-icons">check</i>
                </div>
            </label>

            <input type="checkbox" id="House" name="House" ng-model="user.genres.house" ng-checked="i.genres.house">
            <label for="House">
                <span class="label-name">House</span>
                <div class="checkmark">
                    <i class="material-icons">check</i>
                </div>
            </label>

            <input type="checkbox" id="Experimental" name="Experimental" ng-model="user.genres.experimental" ng-checked="i.genres.experimental">
            <label for="Experimental">
                <span class="label-name">Experimental</span>
                <div class="checkmark">
                    <i class="material-icons">check</i>
                </div>
            </label>

            <input type="checkbox" id="Emo" name="Emo" ng-model="user.genres.emo" ng-checked="i.genres.emo">
            <label for="Emo">
                <span class="label-name">Emo</span>
                <div class="checkmark">
                    <i class="material-icons">check</i>
                </div>
            </label>

        </div>
    </div>

</div>